<div class="card mb-4" style="width: 50%; margin: auto; display: flex">
  <div class="row" style="margin-top: 25px">
    <div class="col" style="margin-left: 80px">
      <span style="font-size: 20px; font-weight: bold; margin-left: 35px">{{
        manifest.name
      }}</span>
    </div>
  </div>
  <br />
  <hr style="margin-top: -20px" />

  <div class="row" style="margin-left: 30px; margin-top: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Location:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.place.city }}, {{ manifest.place.address }},
        {{ manifest.place.postNumber }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Status:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.status }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Price:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.price }} $
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Seats number:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.seatsNumber }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Type:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.type }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Number of tickets:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.seatsNumber - 6 }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Event date:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ manifest.eventDate }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Komentar:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ comment?.text }}
      </span>
    </div>
  </div>

  <div class="row" style="margin-left: 30px">
    <div class="col">
      <span style="font-size: 20px; font-weight: bold">Rate:</span>
      <span style="font-size: 20px; margin-left: 10px"
        >{{ comment?.rate }}
      </span>
    </div>
  </div>

  <div class="col">
    <span><img class="img" src="{{ manifest.image }}" alt="" /></span>
  </div>

  <br />

  <div></div>
</div>
